@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);

@theme inline {
  --font-russo: "Russo One", "sans-serif";
  --font-rethink: "Rethink Sans", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";
  --font-manrope: "Manrope", "sans-serif";

  --shadow-glow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff,
    0 0 80px #fff, 0 0 100px #ff1177;

  /* 18.75rem = 300px */
  --breakpoint-old-sm: 18.75rem;
  /* 21.875rem = 350px */
  --breakpoint-old-lg: 21.875rem;
  /* 25rem = 400px */
  --breakpoint-modern: 25rem;
  /* 40rem = 640px */
  --breakpoint-sm: 40rem;
  /* 48rem = 768px */
  --breakpoint-md: 48rem;
  /* 64rem = 1024px */
  --breakpoint-lg: 64rem;
  /* 80rem = 1280px */
  --breakpoint-xl: 80rem;
  /* 96rem = 1536px */
  --breakpoint-2xl: 96rem;

  --animate-glow: glow 1.5s infinite alternate;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-twinkle: twinkle 5s infinite ease-in-out;
  --animate-rotate: rotate 5s infinite ease-in-out;
  --animate-snore: snore 5s infinite ease-in-out;
  --animate-falling:
    tail 5s ease-in-out infinite, falling 5s ease-in-out infinite;
  --animate-preloader:
    slideToCenter 1s ease-in-out 1, palseTheLogo 1.5s linear infinite;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* keyframes */
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes twinkle {
    100%,
    0% {
      opacity: 0.7;
    }
    50% {
      opacity: 0.3;
    }
  }

  @keyframes rotate {
    100%,
    0% {
      transform: rotate(-8deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }

  @keyframes snore {
    100%,
    0% {
      transform: scale(1) rotate(30deg);
    }
    50% {
      transform: scale(0.5) rotate(30deg);
      border-bottom-left-radius: 50%;
    }
  }

  @keyframes falling {
    0% {
      -webkit-transform: translateY(-100vh);
      transform: translateY(-100vh);
    }
    100% {
      -webkit-transform: translateY(100vh);
      transform: translateY(100vh);
    }
  }

  @keyframes tail {
    0%,
    100% {
      height: 0;
    }
    30% {
      height: 100px;
    }
  }

  @keyframes palseTheLogo {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
  }

  @keyframes slideToCenter {
    0% {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border scroll-smooth;

    /* fuma vars */
    --fd-sidebar-width: 0px !important;
  }

  body {
    @apply bg-background text-foreground;

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  img {
    @apply select-none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
  }

  button,
  a {
    @apply cursor-pointer;
  }

  .container {
    @apply !w-screen sm:!max-w-[40rem] md:!max-w-[48rem] lg:!max-w-[64rem] xl:!max-w-[80rem] 2xl:!max-w-[96rem];
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .show-scrollbar {
    scrollbar-width: auto;
    -ms-overflow-style: auto;
  }

  .show-scrollbar::-webkit-scrollbar:vertical,
  .show-scrollbar::-webkit-scrollbar-track:vertical {
    @apply !block !w-1.5 !cursor-pointer bg-white/5 rounded;
  }

  .show-scrollbar::-webkit-scrollbar:horizontal,
  .show-scrollbar::-webkit-scrollbar-track:horizontal {
    @apply !block !h-1.5 !cursor-pointer bg-white/5 rounded;
  }

  .show-scrollbar::-webkit-scrollbar-thumb {
    @apply !bg-white/30 !rounded-full !cursor-pointer hover:!bg-white/50 transition-all duration-200;
  }

  strong {
    @apply text-purple-400 bg-muted border font-mono font-medium px-1 py-[2px] rounded;
  }

  /* fuma docs */
  #nd-tocnav {
    visibility: hidden;
  }
}
